.content__add {
  position: absolute;
  top: calc(15% - 80px); /* Posiciona o conteúdo abaixo do cabeçalho */
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  z-index: 999; /* Certifique-se de que a camada de conteúdo seja superior à camada da imagem */
}

.button__add {
  background-color: #007ad6;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.img__ghost {
  justify-content: center;
  align-items: center;
}
.container__ghost {
  position: absolute;
  top: 50%; /* Posiciona o contêiner a 50% da altura do pai */
  left: 50%; /* Posiciona o contêiner a 50% da largura do pai */
  transform: translate(-50%, -50%); /* Reposiciona o contêiner */
  display: flex;
  justify-content: center;
  align-items: center;
}
