*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;

  font-family: var(
    --body-font
  ); /*Define para todos os componentes que as fontes devem ser Poppins!!*/
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333333;
  transition: color 0.3s ease;
}

.elemento {
  position: absolute; /* Mudando para absolute para seguir o "banner" */
  top: 60%; /* Mudando para 50% para centralizar verticalmente */
  left: 30%; /* Mudando para 50% para centralizar horizontalmente */
  transform: translate(-50%, -50%);
  width: 600px; /* Pode ajustar conforme necessário */
  z-index: 1;
}

.button-container {
  text-align: center;
  margin-top: 20px; /* Adapte conforme necessário para o posicionamento vertical */
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
}

.btn {
  margin-top: 30px; /* Espaçamento entre o parágrafo e o botão */
  padding: 10px 15px; /* Adapte conforme necessário */
  background-color: transparent; /* Cor de fundo do botão */
  color: aliceblue; /* Cor do texto do botão */
  font-size: 2rem; /* Tamanho do texto do botão */
  border-radius: 20px;
  font-family: "Poppins", sans-serif;
  border: 1px solid #96080c; /* Remover a borda padrão do botão */
  cursor: pointer;
  max-width: 170px; /* Largura máxima do botão */
  width: 100%;
  transition: transform 0.3s, background-color 0.1s;
}

.btn:hover {
  background: rgba(0, 0, 0, 0.9);
  color: #96080c;
  transform: scale(1.05);
  box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 29px 0px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  /* height: 8vh; */
  background: transparent;
  color: #ebedee;
  background-color: #007ad6;
}
.nav__item a:hover {
  color: #32291b;
}

.nav__item {
  gap: 2rem;
  position: relative;
}

.nav__item::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px; /* Ajuste conforme necessário para a aparência desejada */
  width: 100%;
  height: 2px;
  background-color: #f22c09; /* Cor da linha ao passar o mouse */
  transform: scaleX(0); /* Inicialmente, a linha está invisível */
  transform-origin: 100% 50%;
  transition: transform 0.3s ease-in-out;
}

.nav__item:hover::after {
  transform: scaleX(
    1
  ); /* Quando o mouse passa sobre o item, a linha se expande */
}

.nav__icon {
  color: #fefefe;
}
.nav__icon:hover {
  color: #32291b; /*Deixa os Icones ISOLADAMENTE mudarem de cor*/
}

.nav__icons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;
  font-size: 2rem;
}

/*STYLES CHAMANDO ICONES ISOLADAMENTE, TÃO TAL QUE ESTÃO ESCRITOS NO SINGULAR!!*/
.nav__icon {
  transition: color 0.3s ease;
}

/*-------------------STYLES CHAMANDO ICONES ISOLADAMENTE, TÃO TAL QUE ESTÃO ESCRITOS NO SINGULAR!!---------------------*/

.nav__brand {
  text-transform: uppercase;
  font-weight: bold;
}

.nav__menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 3rem;
}

.nav__toggler div {
  width: 3rem;
  height: 0.2rem;
  margin: 0.4rem;
  background: #f4f4f4;
  transition: 0.3s ease-in;
}

.nav__toggler {
  cursor: pointer;
  display: none;
}

/*---------------------------------------BREAKPOINTS----------------------------*/

@media screen and (max-width: 992px) {
  .elemento {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    transform: translate(-50%, -50%);
    z-index: 1; /* Certifique-se de que a imagem esteja na frente do conteúdo */
  }
  .button-container {
    text-align: center;
    margin-top: 20px; /* Adapte conforme necessário para o posicionamento vertical */
    position: absolute;
    bottom: 30%;
    left: 50%;
    transform: translateX(-50%);
  }
}
@media screen and (max-width: 768px) {
   {
    width: 100px;
  }
  .button-container {
    bottom: 20%;
  }
  .elemento {
    position: absolute;
    top: 50%;
    left: 40%;

    transform: translate(-50%, -50%);
    z-index: 1; /* Certifique-se de que a imagem esteja na frente do conteúdo */
  }

  .nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 11vh; /*Pode ficar bugado se tirar...*/
  }
  .nav__icons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 1.8rem;
    gap: 1.2rem;
  }
  .nav__toggler {
    display: block;
  }

  .nav__menu {
    position: absolute; /*Permite a animação do toggle, se a imagem do header estiver em position: static; Que é o padrao!( CASO OCORRA ERRO, VOLTAR COM POSITION:ABSOLUTE, DISPLAY NONE*/
    top: 10vh;
    display: none;
    margin: 0;
    right: 0;
    z-index: 999;
    width: 50%;
    border-radius: 7px;
    height: 93vh;
    background: rgba(0, 0, 0, 0.8);
    flex-direction: column;
    transform: translateX(100%);
    transition: 0.5s ease-in;
  }
}
@media screen and (max-width: 578px) {
  .elemento {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 380px !important;
    transform: translate(-50%, -50%);
    z-index: 1; /* Certifique-se de que a imagem esteja na frente do conteúdo */
  }
   {
    width: 110px;
  }
  .nav {
    margin-left: -2rem;

    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 15vh; /*Pode ficar bugado se tirar...*/
  }
}

@media screen and (max-width: 390px) {
  .elemento {
    width: 330px !important;
  }
   {
    width: 90px;
  }
  .nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 12vh; /*Pode ficar bugado se tirar...*/
  }
}
@media screen and (max-width: 350px) {
   {
    width: 60px;
  }
  .nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 12vh; /*Pode ficar bugado se tirar...*/
  }
}
