.select-field {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  background-color: #fff;
  /* Adicione outras propriedades de estilo conforme necessário */
}

/* Estilize a seta do select */
.select-field::after {
  content: "\25BC"; /* Símbolo de seta para baixo */
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none; /* Garante que a seta não seja clicável */
}
